/* ===========================
   RESET
=========================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:'Plus Jakarta Sans',sans-serif;
  background:#FFF7ED;
  color:#333;
  overflow-x:hidden;

}

/* ===========================
 NAVBAR
=========================== */

header{

  width:100%;
  height:85px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 80px;

  position:fixed;

  top:0;

  left:0;

  z-index:999;

  background:rgba(255,255,255,.75);

  backdrop-filter:blur(12px);

  box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.logo{

  width:60px;
  
  transition:.3s;
  
  }
  
  .logo:hover{
  
  transform:rotate(-8deg) scale(1.08);
  
  }

nav{

  display:flex;
  gap:40px;

}

nav a{

  text-decoration:none;

  color:#333;

  font-weight:600;

  transition:.3s;

}

nav a{

  text-decoration:none;
  
  color:#333;
  
  font-weight:600;
  
  transition:.3s;
  
  position:relative;
  
  }
  
  nav a::after{
  
  content:"";
  
  position:absolute;
  
  left:0;
  
  bottom:-8px;
  
  width:0;
  
  height:3px;
  
  background:#F97316;
  
  transition:.3s;
  
  }
  
  nav a:hover::after{
  
  width:100%;
  
  }

.active{

  color:#F97316;

}
/* ===========================
 HERO
=========================== */

.hero{

  width:100%;
  height:100vh;

  background-image:

  linear-gradient(

  rgba(249,115,22,.55),

  rgba(124,74,33,.55)

  ),

  url("../images/hero.jpg");

  background-size:cover;

  background-position:center;

  display:flex;

  align-items:center;

}

.overlay{

  width:100%;

  padding-left:120px;

  padding-top:70px;

}

.hero-text{

  width:650px;

  color:white;

  animation:fadeUp 1.2s ease;

}

.hero-text span{

  color:#FFD166;
  
}

.hero-text h3{

  font-size:22px;

  letter-spacing:4px;

  margin-bottom:20px;

}

.hero-text h1{

  font-size:72px;

  line-height:80px;

  margin-bottom:30px;

}

.hero-text p{

  font-size:19px;

  line-height:34px;

  margin-bottom:40px;

}
.quote{

  margin-top:-10px;

  margin-bottom:35px;

  font-size:24px;

  font-style:italic;

  color:#FFD166;

  font-weight:700;

}
.button-group{

  display:flex;

  gap:20px;

  animation:fadeUp 1.6s ease;

}

.btn-orange{

  background:#F97316;

  color:white;

  text-decoration:none;

  padding:16px 35px;

  border-radius:50px;

  font-weight:700;

  transition:.35s;

}

.btn-orange:hover{

  transform:translateY(-5px);
  
  background:#EA580C;
  
  box-shadow:0 12px 30px rgba(249,115,22,.45);
  
  }

.btn-white{

  background:white;

  color:#F97316;

  text-decoration:none;

  padding:16px 35px;

  border-radius:50px;

  font-weight:700;

  transition:.35s;

}

.btn-white:hover{

  transform:translateY(-5px);

}
/* ===========================
STATISTIK
=========================== */

.stats{

  display:flex;

  justify-content:center;

  gap:35px;

  margin-top:-80px;

  position:relative;

  z-index:10;

}

.card{

  width:240px;

  background:white;

  padding:35px;

  border-radius:25px;

  text-align:center;

  box-shadow:0 15px 35px rgba(0,0,0,.08);

  transition:.35s;

}

.card:hover{

  transform:translateY(-10px);

}

.card h2{

  font-size:42px;

  color:#F97316;

  margin-bottom:15px;

}

.card p{

  font-size:17px;

}
/* ===========================
WHY
=========================== */

.why{

  padding:110px 10%;

}

.why h2{

  text-align:center;

  font-size:45px;

  color:#7C4A21;

  margin-bottom:70px;

}

.why-container{

  display:flex;

  gap:30px;

}

.why-card{

  background:white;

  padding:40px;

  border-radius:25px;

  box-shadow:0 12px 30px rgba(0,0,0,.08);

  transition:.35s;

}

.why-card:hover{

  transform:translateY(-10px);

}

.why-card h3{

  color:#F97316;

  margin-bottom:20px;

}

.why-card p{

  line-height:32px;

}
/* ===========================
CTA
=========================== */

.cta{

  background:linear-gradient(135deg,#F97316,#FB923C);

  color:white;

  text-align:center;

  padding:90px 10%;

}

.cta h2{

  font-size:50px;

  margin-bottom:25px;

}

.cta p{

  width:700px;

  margin:auto;

  line-height:35px;

  margin-bottom:40px;

}

/* ===========================
FOOTER
=========================== */

footer{

  background:#7C4A21;

  color:white;

  text-align:center;

  padding:45px;

}

.footer-logo{

  width:85px;

  margin-bottom:20px;

}
@media(max-width:900px){

  header{
  
  padding:20px;
  
  }
  
  .hero{
  
  text-align:center;
  
  }
  
  .overlay{
  
  padding:20px;
  
  }
  
  .hero-text{
  
  width:100%;
  
  }
  
  .hero-text h1{
  
  font-size:50px;
  
  line-height:60px;
  
  }
  
  .stats{
  
  flex-direction:column;
  
  align-items:center;
  
  margin-top:50px;
  
  }
  
  .why-container{
  
  flex-direction:column;
  
  }
  
  .cta p{
  
  width:100%;
  
  }
  
  nav{
  
  display:none;
  
  }
  
  }
  @keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(50px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ================= MODAL ================= */

.modal-hero{

  padding-top:170px;
  
  padding-bottom:80px;
  
  text-align:center;
  
  background:linear-gradient(135deg,#F97316,#FB923C);
  
  color:white;
  
  }
  
  .modal-hero h1{
  
  font-size:55px;
  
  margin-bottom:20px;
  
  }
  
  .modal-hero p{
  
  font-size:20px;
  
  }
  
  .uang{
  
  display:flex;
  
  justify-content:center;
  
  gap:30px;
  
  padding:70px;
  
  flex-wrap:wrap;
  
  }
  
  .uang-card{

    background:white;
    
    padding:50px 35px;
    
    width:450px;
    
    min-height:280px;
    
    border-radius:30px;
    
    text-align:center;
    
    display:flex;
    
    flex-direction:column;
    
    justify-content:center;
    
    align-items:center;
    
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    
    transition:.3s;
    
    }
  
  .uang-card:hover{
  
  transform:translateY(-10px);
  
  }
  
  .uang-card h1{
  
  margin-top:20px;
  
  color:#F97316;
  
  font-size:42px;
  
  }
  
  .rincian{
  
  padding:80px 10%;
  
  }
  
  .rincian h2{
  
  text-align:center;
  
  font-size:45px;
  
  margin-bottom:60px;
  
  color:#7C4A21;
  
  }
  
  .grid{
  
  display:grid;
  
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  
  gap:25px;
  
  }
  
  .item{
  
  background:white;
  
  padding:30px;
  
  border-radius:20px;
  
  box-shadow:0 12px 25px rgba(0,0,0,.08);
  
  transition:.3s;
  
  }
  
  .item:hover{
  
  transform:translateY(-8px);
  
  }
  
  .item h3{
  
  margin-bottom:15px;
  
  color:#F97316;
  
  }
  
  .item p{
  
  font-size:18px;
  
  font-weight:600;
  
  }
/* =====================
KERJA SAMA
===================== */

.partner{

  display:flex;
  
  align-items:center;
  
  justify-content:center;
  
  gap:70px;
  
  padding:170px 10% 100px;
  
  flex-wrap:wrap;
  
  }
  
  .partner-image img{
  
  width:520px;
  
  border-radius:25px;
  
  box-shadow:0 20px 40px rgba(0,0,0,.15);
  
  transition:.4s;
  
  }
  
  .partner-image img:hover{
  
  transform:scale(1.03);
  
  }
  
  .partner-text{
  
  max-width:520px;
  
  }
  
  .badge{
  
  display:inline-block;
  
  background:#FFE8D6;
  
  color:#F97316;
  
  padding:10px 18px;
  
  border-radius:30px;
  
  font-weight:700;
  
  margin-bottom:25px;
  
  }
  
  .partner-text h1{
  
  font-size:52px;
  
  line-height:60px;
  
  margin-bottom:25px;
  
  color:#7C4A21;
  
  }
  
  .partner-text p{
  
  font-size:18px;
  
  line-height:34px;
  
  margin-bottom:25px;
  
  }
  .back-home{

    text-align:center;
    
    padding-bottom:80px;
    
    }
    
    .back-home .btn-orange{
    
    display:inline-block;
    
    }